body {
    font-family: 'Comfortaa', cursive !important;
}

.document {
    min-height: calc(var(--vh, 1vh) * 100);

    max-width: 1024px;
    margin: 0 auto;

    padding: 30px 40px 50px;
    box-sizing: border-box;

    overflow: hidden;
}

@media screen and (max-width: 450px) {
    .document {
        padding: 15px;
    }

    .landing {
        padding-left: 40px;
    }
}
