.userful-sites__regexcrossword {
    display: block;
    width: 101px;
    margin-top: 5px;
    box-shadow: 2px 2px 3px 0px #eee;
}

.userful-sites__image {
    max-width: 100%;
    border-radius: 4px;
    margin-top: 5px;
    box-shadow: 2px 2px 3px 0px #eee;
}
