.lighthouse {
    &__audit {
        max-width: 600px;

        width: 100%;

        margin-top: 20px;

        box-shadow: 3px 3px 5px #eee;
    }

    &__logo {
        max-width: 150px;
        display: block;

        margin: 60px auto;
        margin-bottom: 15px;
    }

    &__slogan {
        margin: 0 auto;
        max-width: 700px;

        text-align: center;
    }
}

.code {
    font-family: monospace;
    font-size: 16px;
    line-height: 26px;

    white-space: pre;
    overflow-x: auto;

    margin-top: 15px;

    background: #f7f7f7;
    border-radius: 2px;

    padding: 13px 15px;
    
    &__comment {
        color: #998;
        font-style: italic;
    }
}
