.lighthouse {
    &__audit {
        max-width: 600px;

        width: 100%;

        margin-top: 20px;

        box-shadow: 3px 3px 5px #eee;
    }

    &__logo {
        max-width: 150px;
        display: block;

        margin: 60px auto;
        margin-bottom: 15px;
    }

    &__slogan {
        margin: 0 auto;
        max-width: 700px;

        text-align: center;
    }
}
