.ua-parser__group {
    margin-top: 25px;
}

.ua-parser__icon_help,
.ua-parser__icon_title {
    width: 18px;
    height: 18px;    
    vertical-align: middle;
}

.ua-parser__icon_help {
    margin-left: 3px;
}

.ua-parser__icon_title {
    margin-right: 5px;
    top: -2px;
    position: relative;
}

.list-group-item.disabled.list-group-item {
    font-weight: 600;
}
